{% extends "base.html" %}
{% block content %}
<div class="col-xs-12 col-md-10">
{% for b in blocks %}
	<div class="panel panel-default">
		<div class="panel-heading"><a href="/article/list/{{ b.id  }}" style="font-size:18px;">{{ b.names }}</a>
		<span class="pull-right" style="color:green;">{{ b.manager_name }}</span>
		</div>
		<div class="panel-body">
		{{ b.desc }}
		</div>
	</div>
	{% endfor %}
</div>
<div class="col-xs-12 col-md-2">
	<div class="panel panel-default">
		<div class="panel-heading"><a href="#">个人中心</a></div>
      		{% if user.is_authenticated %}
			<p>{{ user.username }}.欢迎来到论坛。</p>
			<a href="/accounts/logout">登出</a>
                        <a href="/accounts/password_reset">重置密码</a>
		{% else %}	
			<p>匿名用户.请<a href="/accounts/login">登录</a>.</p>
		{% endif %}
	</div>
</div>
{% endblock %}
