<!doctype html>
<html>
        <head>
                <meta charset="utf-8">
                <title>Hello world</title>
        </head>
        <body>
                <div class="inner left">
                        <label style="color:red;"> 姓名 </label>
                        </br>
                        </br>
                        <label style="color:blue;">身份证号</label>
                </div>
                </br>
                <div class="test">      
                        <button>提交 </button>
                </div>
                <style type=“text/css”>
                        .test{
                                background-color:green;
                        }
        </body>


</html>
