<nav>
  <ul class="pagination">
  {% if page.previous_link > 0 %}
    <li><a href="?page_no=1">首页</a></li>
    <li><a href="?page_no={{ page.previous_link }}" aria-label="Previous">&laquo;</a></li>
  {% endif %}
  {% for i in page.page_links %}
  {% if i == page.current_no %}
    <li class="active"><a href="?page_no={{ page.current_no }}">{{ page.current_no }}</a></li>
  {% else %}
    <li class=""><a href="?page_no={{ i }}">{{ i }}</a></li>
  {% endif %}
  {% endfor %}
  {% if page.next_link <= page.page_cnt %}
    <li><a href="?page_no={{ page.next_link }}" aria-label="Previous">&raquo;</a></li>
    <li><a href="?page_no={{ page.page_cnt }}">尾页</a></li>
  {% endif %}
</ul>


</nav>


