{% extends "base.html" %}
{% block content %}
{% if validlink %}
<div  class="col-sm-8">
<form class="form-horizontal" action="" method="POST">{% csrf_token %}
	 <div class="form-group">
                <label class="col-sm-2 control-label">请输入新密码</label>
                <div class="col-sm-8">
                        <input type="password" class="form-control" id="id_new_password1" name="new_password1" placeholder="请输入用户名"  >
                </div>
        </div>
	 <div class="form-group">
                <label class="col-sm-2 control-label">请确认新密码</label>
                <div class="col-sm-8">
                        <input type="password" class="form-control" id="id_new_password2" name="new_password2" placeholder="请输入用户名"  >
                </div>
        </div>
<div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-default">提交</button>
                </div>
        </div>

</form>
</div>
{% else %}
链接已失效
{% endif %}
<div class="col-sm-4">
{% if form.new_password1 %}
        {% for error in form.new_password1.errors %}
        <div class="alert alert-danger"> 用户名:{{ error }} </div>
        {% endfor %}
{% endif %}
{% if form.new_password2.errors %}
        {% for error in form.new_password2.errors %}
        <div class="alert alert-danger">密码:{{ error }} </div>
        {% endfor %}
{% endif %}


</div>



{% endblock %}

